.navMenu {


    .menuList {
        width: 526px;
        height: 144px;
        padding: 30px;
    
    
        background-color: #111;
        border-radius: 15px;
        
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
    }
}