.profileSection {
  background-color: #111111;
  border-radius: 25px;
  width: 400px;
  height: 850px;
  text-align: center;


  padding: 0 24px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profileBlock {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 30px;
  // position: relative;
  // bottom: 40px;
}

.profilePhoto {
  background-image: url("../../assets/images/profile-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50% !important;
  animation: oldZoom 1.2s ease-in-out; /* Анимация для ключевых кадров */
  transition: transform 1s ease;
}

@keyframes oldZoom {
  0% {
    transform: scale(1); /* Исходный размер */
  }
  50% {
    transform: scale(1.05); /* Увеличение до 1.2x */
  }
  100% {
    transform: scale(1); /* Возврат к исходному размеру */
  }
}

.profileOldPhoto {
  background-image: url("../../assets/images/profile-old-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50% !important;
  animation: zoom 1.2s ease-in-out; /* Анимация для ключевых кадров */
  transition: transform 1s ease;
}

@keyframes zoom {
  0% {
    transform: scale(1); /* Исходный размер */
  }
  50% {
    transform: scale(1.05); /* Увеличение до 1.2x */
  }
  100% {
    transform: scale(1); /* Возврат к исходному размеру */
  }
}

.myName {
  font-size: 26px;
  margin: 24px 0 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
}

.profession {
  font-size: 16px;
  padding: 8px 15px;
  color: #a6a6a6;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: #1d1d1d;
  border-radius: 8px;
}

.socials {
  display: flex;
  gap: 10px;

  margin-top: 12px;
}

.profileContacts {
  background-color: #1d1d1d;
  margin: 28px 0px 0px;
  padding: 28px;
  border-radius: 15px;
  width: 100%;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // position: relative;
  // bottom: 60px;
}

.phoneBlock {
  display: flex;
  align-items: center;
  gap: 10px;

  .phoneNumb {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: left;

    .title {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #a6a6a6;
    }

    .number {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      color: #fff;
    }
  }
}

.oldPhoto {
  button {
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: 2px solid #aea7a7;
    color: #aea7a7;

    padding: 12px 16px;
    border-radius: 6px;

    margin: 20px 0px;

    &:hover {
    background-color: #1d1d1d;
    border: 2px solid #ffffff;
    }

    &:active {
      position: relative;
      top: 2px;
    }
  }
}
