.homePage {
  background-color: #111111;
  border-radius: 15px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 840px;
  padding: 48px 56px;
  text-align: left;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      position: relative;

      font-size: 40px;
      color: #fff;
      font-family: "Museo";
      font-weight: 900;

      &::after {
        content: " ";
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: -12px;
        width: 200px;
        height: 2px;
        border-radius: 30px;
        background-color: #fa2a55;
      }
    }

    p {
      color: #555;
      text-align: right;
      line-height: 20px;

      text-decoration: underline;
      cursor: pointer;
    }
  }

  .discription {
    padding: 30px 0px 0px;
    font-size: 16px;
    color: #a6a6a6;
    font-family: "Museo", cursive;
    line-height: 25px;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.stackTech {
    text-align: center;
  .skillsTitle {
    padding: 20px 0px 30px;
    font-size: 30px;
    color: #fff;
    font-family: "Museo";
    font-weight: 900;
  }

  .backSkilssTitle {
    padding: 50px 0px 30px;
    font-size: 18px;
    color: #dbdbdb;
    font-family: "Museo";
    font-weight: 700;

    // &::before, &::after {
    //     content: ' ';
    //     display: inline-block;
    //     position: relative;
    //     top: -7px;
    //     width: 100px;
    //     height: 1px;
    //     background-color: #bcbcbc;
    // }
  }
}

.gridFrontend {
  .skills {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .skillName {
    margin-top: 10px;
    color: #fff;
  }
}

.gridBackend {
  .skills {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .skillName {
    margin-top: 10px;
    color: #fff;
  }
}
