.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 40px;

    width: 100%;
}

.logo {
    font-size: 50px;
    color: #fa2a55;
    font-family: 'Caveat', cursive;
}