.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 20px;

    width: 100%;
    margin-bottom: 200px;
}

.logo {
    font-size: 50px;
    color: rgb(243, 57, 54);
    font-family: 'Caveat', cursive;
}

.darkMode {


}