.menuItem {
    background-color: #212425;
    // background-color: #fa5252;

    width: 100%;
    height: 100%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #fff;

    &:hover {
        background-color: rgb(246, 90, 90);
    }

    div {
        font-size: 20px;
    }

    p {
        font-size: 13px;
        font-family: "Poppins";

    }
}